{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowlegopedia</title>
    <link rel="stylesheet" href="{% static 'css/admin_provider_management_payment.css' %}">
</head>
<body>
 
<!-- Container that contains "tables" STARTS -->

        <!-- Container that contains " PAYMENT table" -->
        <h1 id="main-payment-heading">PAYMENT</h1>
        <div id="tables">
        <div class="each-table-container">
            <h2 class="sub-payment-heading">PAID PAYMENT</h2>
            <table id="table1">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Invoice No</th>
                        <th>Name</th>
                        <th>Month</th>
                        <th>Course Name</th>
                        <th>No.of enrollments</th>
                        <th>Per share</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th id="bill">Bill</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="goToPaymentViewPage()"><td>1.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Paid</p></td><td><p class="green-status">View Bill</p></td></tr>
                    <tr onclick="goToPaymentViewPage()"><td>2.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Paid</p></td><td><p class="green-status">View Bill</p></td></tr>
                    <tr onclick="goToPaymentViewPage()"><td>3.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Paid</p></td><td><p class="green-status">View Bill</p></td></tr>
                    <tr onclick="goToPaymentViewPage()"><td>4.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Paid</p></td><td><p class="green-status">View Bill</p></td></tr>
                    <tr onclick="goToPaymentViewPage()"><td>5.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Paid</p></td><td><p class="green-status">View Bill</p></td></tr>
                    <tr onclick="goToPaymentViewPage()"><td>6.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Paid</p></td><td><p class="green-status">View Bill</p></td></tr>
                  
                </tbody>
            </table>
        </div>

        <div class="each-table-container">
            <h2 class="sub-payment-heading">PENDING PAYMENT</h2>
            <table id="table2">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Invoice No</th>
                        <th>Name</th>
                        <th>Month</th>
                        <th>Course Name</th>
                        <th>No.of enrollments</th>
                        <th>Per share</th>
                        <th>Amount</th>
                        <th>Pay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="goToPaymentPayPage()"><td>1.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Pay</p></td></tr>
                    <tr onclick="goToPaymentPayPage()"><td>2.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Pay</p></td></tr>
                    <tr onclick="goToPaymentPayPage()"><td>3.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Pay</p></td></tr>
                    <tr onclick="goToPaymentPayPage()"><td>4.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Pay</p></td></tr>
                    <tr onclick="goToPaymentPayPage()"><td>5.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Pay</p></td></tr>
                    <tr onclick="goToPaymentPayPage()"><td>6.</td><td>#16879</td><td>John dye</td><td>Mar,2023</td><td>Artificial intelligence</td><td>500 users</td><td>$50</td><td>$35</td><td class="status"><p class="green-status">Pay</p></td></tr>
                  
                </tbody>
            </table>
        </div>
    </div>
<!-- Container that contains "tables" ENDS -->

<script>
    
    function goToPaymentViewPage() {
        window.location.href = "{% url 'admin_provider_management_payment_view' %}";
    }
    function goToPaymentPayPage() {
        window.location.href = "{% url 'admin_provider_management_payment_pay' %}";
    }

</script>
</body>
</html>