{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referral Details</title>
    <link rel="stylesheet" href="{% static 'css/admin_affiliate_marketing_main_page.css' %}">
</head>

<body>

    <!-- Container that contains "statics boxes" STARTS-->
    <h2 id="pending-payment-heading">AFFILIATE MARKETING DATABASE</h2>
    <!-- Container that contains "statics boxes" ENDS-->

    <div class="total-row-current-page-container">
        <div class="current-page">
            <img src="{% static 'admin_img/student_management_img/course_enroll_img/home_icon.png' %}" alt=""
                class="home-icon">
            <img src="{% static 'admin_img/student_management_img/course_enroll_img/page_arrow.png' %}" alt=""
                class="page-arrow">
            <p class="current-page-info" id="studentManagement">Course Name</p>
            <img src="{% static 'admin_img/student_management_img/course_enroll_img/page_arrow.png' %}" alt=""
                class="page-arrow">
            <p class="current-page-info">Quiz</p>
            <img src="{% static 'admin_img/student_management_img/course_enroll_img/page_arrow.png' %}" alt=""
                class="page-arrow">
            <p class="current-page-info">Quiz 1</p>
            <img src="{% static 'admin_img/student_management_img/course_enroll_img/page_arrow.png' %}" alt=""
                class="page-arrow">
        </div>

        <div class="edit-buttons-container">
            <button class="edit-btns" id="detailsBtn">Details</button>
            <button class="edit-btns" id="editBtn">Edit</button>
            <button class="edit-btns" id="createAccountBtn" onclick="createAccount()">Create Account</button>
        </div>
    </div>

    <!-- Table Section STARTS -->
    <div class="table-container">
        <h3>ACTIVE ACCOUNTS</h3>
        <table id="activeAccountsTable">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="email">Email ID</th>
                    <th id="phonenum">Phone Number</th>
                    <th id="date">Date of creation</th>
                    <th id="usersnum">Total Enrollment Count</th>
                    <th id="actionHead">Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="suspend-account-popup" id="popUp-container">
            <div class="main-pop-up">
                <p>Are you sure you want to Suspend Account?</p>
                <div class="popup-btn-container">
                    <button class="edit-btns" id="popup-suspend-btn">Suspend Account</button>
                    <button class="edit-btns" id="popup-cancel-btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination Controls STARTS -->
    <div class="pagination">
        <div class="select-page">Select by Page No. :
            <select id="pageSelect" onchange="changePage()"></select>
        </div>
        <div id="currentPage">Page 1 of 1</div>
        <img id="prevBtn" class="next-previous-button"
            src="{% static 'admin_img/student_management_img/course_enroll_img/Arrow_left.png' %}" alt="Previous"
            onclick="prevPage()">
        <img id="nextBtn" class="next-previous-button"
            src="{% static 'admin_img/student_management_img/course_enroll_img/Arrow_right.png' %}" alt="Next"
            onclick="nextPage()">
    </div>
    <!-- Pagination Controls ENDS -->


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Commission Percentage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for marketer in marketers %}
            <tr>
                <td>{{ marketer.name }}</td>
                <td>{{ marketer.email }}</td>
                <td>{{ marketer.commission_percentage }}</td>
                <td class="action-links">
                    <a href="{% url 'admin_affiliate-market-detail' marketer.id %}"
                        class="btn btn-sm btn-outline-primary">Detail</a>
                    <a href="{% url 'admin_affiliate-marketer-update' marketer.id %}"
                        class="btn btn-sm btn-outline-secondary">Update</a>
                    <a href="{% url 'admin_affiliate-market-delete' marketer.id %}"
                        class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Table 1 Section ENDS -->

    <div class="suspendAccountBtn-container">
        <button class="edit-btns" id="suspendAccountBtn">Suspend Account</button>
    </div>


    <!-- Table 2 Section STARTS -->
    <div class="table-container">
        <h3>SUSPENDED ACCOUNTS</h3>
        <table id="suspendedAccountsTable">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="email">Email ID</th>
                    <th id="phonenum">Phone Number</th>
                    <th id="date">Date of creation</th>
                    <th id="usersnum">Total Enrollment Count</th>
                    <th id="actionHead">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be generated by JavaScript -->
            </tbody>
        </table>

        <div class="activate-account-popup" id="popUp-container2">
            <div class="main-pop-up">
                <p>Are you sure you want to Activate Account?</p>
                <div class="popup-btn-container">
                    <button class="edit-btns" id="popup-activate-btn">Activate Account</button>
                    <button class="edit-btns" id="popup-cancel-btn2">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination Controls STARTS -->
    <div class="pagination">
        <div class="select-page">Select by Page No. :
            <select id="pageSelect2" onchange="changePage2()"></select>
        </div>
        <div id="currentPage2">Page 1 of 1</div>
        <img id="prevBtn" class="next-previous-button"
            src="{% static 'admin_img/student_management_img/course_enroll_img/Arrow_left.png' %}" alt="Previous"
            onclick="prevPage2()">
        <img id="nextBtn" class="next-previous-button"
            src="{% static 'admin_img/student_management_img/course_enroll_img/Arrow_right.png' %}" alt="Next"
            onclick="nextPage2()">
    </div>
    <!-- Pagination Controls ENDS -->

    <!-- Table 2 Section ends -->

    <div class="suspendAccountBtn-container">
        <button class="edit-btns" id="activateAccountBtn">Activate Account</button>
    </div>


    <!-- Hidden accounts data, both active and suspended, from Django to be accessed in JavaScript -->
    <div id="active-accounts-data" style="display: none;">{{ active_accounts|safe }}</div>
    <div id="suspended-accounts-data" style="display: none;">{{ suspended_accounts|safe }}</div>

    <!-- scripts -->
    <script src="{% static 'js/admin_affiliate_marketing_main_page.js' %}"></script>
    <script>
        function createAccount() {
            window.location.href = "{% url 'admin_affiliate_marketing_create_account' %}";
        }
    </script>
</body>

</html>